@use "../../index.scss" as main;

.projectDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
  }

  .details {
    display: block;
    padding: 1em;

    h1 {
      color: main.$yellow;
      font-size: 2em;
      text-align: center;
      text-transform: uppercase;
    }

    p,
    a {
      color: white;
    }

    p {
      font-size: 1.2em;
    }
  }
}

@media (max-width: 700px) {
  .projectDetails {
    display: block;

    img {
      width: 100%;
      height: 50vh;
      object-fit: contain;
    }
  }
}
