@use "../../index.scss" as main;

h1 {
  color: main.$yellow;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 0 1em;
  margin-bottom: 8em;
}

.project {
  color: white;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  a {
    text-decoration: none;
    background-color: main.$yellow;
    color: black;
    padding: 0.5em;
    border-radius: 0.2em;
    transition: all 0.1s ease;
  }

  a:hover {
    padding: 0.65em;
  }
}

@media (max-width: 500px) {
  .projects {
    display: block;
  }

  .project {
    margin-bottom: 1.5em;
  }
}
